<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>操作</th>
    </tr>
    <%for(let i=0;i< title.length;i++){%>
    <tr>
        <td><%= title[i].name%></td>
        <td><%= title[i].age%></td>
        <td><%= title[i].sex%></td>
        <td>
            <a href="/updata/<%= title[i].id%>">编辑</a>
            <a href="/del/<%= title[i].id%>">删除</a>
        </td>
    </tr>
    <%}%>
</table>
</body>
</html>